.DS_Store
/assets/
/bins/out/
/exp/
/keys/
/out/
/scripts/codeproc/node_modules/
/wormhole/target/
/rootfs/out/
/rootfs/live/
/scon/bpf/*bpfel*
/vinit/target/
/swift/
/updates/
/vendor/k3s
/vendor/libkrun
*.o
*.pcap
