/logs/
/rd/
/rd-old/
/rd-compile
/rd-compile86

/data/

/rootfs.img
/swap.qcow2
/data.qcow2

/alpine.initrd.gz
/old/beta4/
/test.qcow2
/disk.img
/initrd
/kernel

/bins/


# TEMP
/lxd-preseed/
/packages/

*.img
*.qcow2
*.img.tar
*.lck
