<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>orbstack</string>
			</array>
		</dict>
	</array>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>dev.orbstack.OrbStack.privhelper</key>
		<string>anchor apple generic and identifier "dev.orbstack.OrbStack.privhelper" and certificate leaf[subject.OU] = "HUAQ24HBR6"</string>
	</dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableJavaScript</key>
	<true/>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>nuUHoUatJ4OxpNCGb5NJ7s5WQYBG4iiZ6rm8JCk0sNQ=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>14400</integer>
</dict>
</plist>
