<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleVersion</key>
    <string>1</string>
	<key>SMAuthorizedClients</key>
	<array>
        <!-- TODO:  and info[CFBundleVersion] &gt;= &quot;1&quot;  -->
        <!-- prevent downgrade attack from app side -->
		<string>anchor apple generic and identifier &quot;dev.kdrag0n.MacVirt&quot; and certificate leaf[subject.OU] = &quot;HUAQ24HBR6&quot;</string>
		<string>anchor apple generic and identifier &quot;dev.kdrag0n.MacVirt.vmgr&quot; and certificate leaf[subject.OU] = &quot;HUAQ24HBR6&quot;</string>
	</array>
</dict>
</plist>
